<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Pifagor-silent instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{113,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{113,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{113,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{113,0},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{227,0},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{341,0},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{455,0},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{569,0},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{683,0},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{113,132}}</string>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{113,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{797,0},{113,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{113,132}}</string>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{113,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{910,0},{113,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{113,132}}</string>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{113,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,132},{113,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{113,132}}</string>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{113,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{113,132},{113,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{113,132}}</string>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{113,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{226,132},{113,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{113,132}}</string>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{113,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{339,132},{113,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{452,132},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{566,132},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{680,132},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{794,132},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{908,132},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,264},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{115,264},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{229,264},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{343,264},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{457,264},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{572,264},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{686,264},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{113,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{113,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{800,264},{113,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,396},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{114,396},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{228,396},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{342,396},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{457,396},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{572,396},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{687,396},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{801,396},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,528},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{114,528},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{228,528},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{343,528},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{458,528},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{573,528},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10040</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{688,528},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10041</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{803,528},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10042</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10043</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{114,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10044</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{228,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10045</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{342,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10046</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,132}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{115,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{456,660},{115,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10047</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{571,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10048</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{685,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10049</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10050</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10051</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10052</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10053</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10054</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10055</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10056</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10057</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10058</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10059</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10060</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10061</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10062</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10063</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10064</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10065</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10066</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10067</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10068</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Pifagor-silent instance 10069</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{114,132}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{115,132}</string>
				<key>spriteSourceSize</key>
				<string>{114,132}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{799,660},{114,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Pifagor.png</string>
				<key>textureFileName</key>
				<string>Pifagor</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
